body {
  background: #e3fae3;
}
#blog {
  background: white;
  border: 1px solid;
  padding: 0px 20px 20px 20px;
}
.responsive {
  width: 60%;
}
a {
  color: black;
}
ol {
  line-height: 1.5;
  padding: 0px 0px 0px 19px;
}
